@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: rgb(249, 250, 251);
}

.text-purple-gradient {
  display: inline-block;
  background: linear-gradient(90deg, #6b70ff, #f8adff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typewriter {
  display: inline-block;
}

.cursor {
  font-weight: bold;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.waveform {
  display: flex;
  align-items: center;
  height: 60px; /* 调整波形动画的容器高度 */
}

.bar {
  width: 6px;
  height: 16px;
  background-color: #6b70ff;
  border-radius: 6px;
  margin: 0 2px;
  animation: wave 1s ease-in-out infinite;
}

/* 关键帧动画 */
@keyframes wave {
  0%,
  100% {
    height: 20px; /* 初始和结束条形的高度 */
    opacity: 0.5;
  }
  50% {
    height: 60px; /* 波峰的最大高度 */
    opacity: 1;
  }
}

/* 为每个条形添加不同的动画延迟以创建波形效果 */
.bar:nth-child(1) {
  animation-delay: 0s;
}
.bar:nth-child(2) {
  animation-delay: 0.1s;
}
.bar:nth-child(3) {
  animation-delay: 0.2s;
}
.bar:nth-child(4) {
  animation-delay: 0.3s;
}
.bar:nth-child(5) {
  animation-delay: 0.4s;
}
.bar:nth-child(6) {
  animation-delay: 0.5s;
}
.bar:nth-child(7) {
  animation-delay: 0.6s;
}
.bar:nth-child(8) {
  animation-delay: 0.7s;
}
.bar:nth-child(9) {
  animation-delay: 0.8s;
}
.bar:nth-child(10) {
  animation-delay: 0.9s;
}
.bar:nth-child(11) {
  animation-delay: 1s;
}
.bar:nth-child(12) {
  animation-delay: 1.1s;
}
.bar:nth-child(13) {
  animation-delay: 1.2s;
}
.bar:nth-child(14) {
  animation-delay: 1.3s;
}
.bar:nth-child(15) {
  animation-delay: 1.4s;
}
.bar:nth-child(16) {
  animation-delay: 1.5s;
}
.bar:nth-child(17) {
  animation-delay: 1.6s;
}
.bar:nth-child(18) {
  animation-delay: 1.7s;
}
.bar:nth-child(19) {
  animation-delay: 1.8s;
}
.bar:nth-child(20) {
  animation-delay: 1.9s;
}
.bar:nth-child(21) {
  animation-delay: 2s;
}
.bar:nth-child(22) {
  animation-delay: 2.1s;
}
.bar:nth-child(23) {
  animation-delay: 2.2s;
}
.bar:nth-child(24) {
  animation-delay: 2.3s;
}
.bar:nth-child(25) {
  animation-delay: 2.4s;
}
.bar:nth-child(26) {
  animation-delay: 2.5s;
}
.bar:nth-child(27) {
  animation-delay: 2.6s;
}
.bar:nth-child(28) {
  animation-delay: 2.7s;
}
.bar:nth-child(29) {
  animation-delay: 2.8s;
}
.bar:nth-child(30) {
  animation-delay: 2.9s;
}
